html,body{
    height: 100%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #39b54a;
    color: #fff;
    width: 100%;
}

.navbar-inverse{
    background: #397339;
    color: #fff;
    border-color: transparent;
}
.navbar.navbar-inverse{
    padding: 10px;
}
.navbar-inverse .navbar-brand{
    color: #fff;
}